/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}
/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100vw;
  aspect-ratio: 1 / 1;
  max-width: 512px;
  max-height: 512px;
}
/* 地図を最背面に移動 */
.leaflet-pane {
  z-index: 0;
}
.map-selector {
  width: 100vw;
  max-width: 512px;
  max-height: 512px;
}
